
.custom-modal .ant-modal-content {
    background-color: #252525;
    height: 800px; 
    max-width:600px;
    
    display: flex;
    max-height: 750px;
    flex-direction: column;
}

.custom-modal .ant-modal-body {
    padding: 15px;
    background-color: #252525;
    width: 100%; 
    height: 100%; 
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center;
    
    overflow: hidden; 
}

.custom-modal .ant-modal-footer {
  display: flex;
  justify-content: center;
  border-top: none;
    
}

.modal-content {
    background-color: #252525;
    color: white;
    text-align: center;
    width: 100%;
    padding: 0px; 
    box-sizing: border-box; 
    font-size: 23px;
}
.button-login  {
    width: 100%; 
    max-width: 750px; 
    background-color: #333333;
    color: white;
    border-radius: 10px; 
    border: none;
    padding: 20px 40px; 
    font-size: 11px; 
    cursor: pointer;
    margin-top: 20px;
    margin-bottom:10px;
}
.login-button{
    margin-right: 20px;
}

.button-login:hover {
    background-color: #333; 
}

.button-login:focus {
    outline: none; 
}
.button-register  {
    width: 100%; 
    max-width: 750px; 
    background-color: #333333;
    color: white;
    border-radius: 10px; 
    border: none;
    padding: 20px 40px; 
    font-size: 11px; 
    cursor: pointer;
    margin-top: 10px; 
}

.button-register:hover {
    background-color: #333; 
}

.button-register:focus {
    outline: none; 
}
 
.button-google  {
    width: 100%; 
    max-width: 750px; 
    background-color: #333333;
    color: white;
    border-radius: 10px; 
    border: none;
    padding: 20px 40px; 
    font-size: 11px; 
    cursor: pointer;
    margin-top: 20px; 
}

.button-google:hover {
    background-color: #333; 
}

.button-google:focus {
    outline: none; 
}
 
.button-login h1, .button-register h1, .button-google h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-size:28px;
}
.button-guest  {
    width: 100%; 
    max-width: 750px; 
    background-color: #df3131;
    color: white;
    border-radius: 10px; 
    border: none;
    padding: 30px 40px; 
    font-size: 11px; 
    cursor: pointer;
    margin-top: 0px;
}

.button-guest:hover {
    background-color: #e04343;
}

.button-guest:focus {
    outline: none; 
}