body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
}

.login-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.login-title {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.btn-login {
    width: 100%;
    background-color: #fe2c55;
    border-color: #fe2c55;
    padding: 0.5rem;
    color: white;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #d0021b;
    border-color: #d0021b;
}